@model Hyperion.Core.DL.Account

@{
    Layout = null;
    ViewBag.Title = "设备用户信息";
}


<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="caption font-green-sharp">
                <i class="icon-speech font-green-sharp"></i>
                <span class="caption-subject">@ViewBag.Title</span>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>属性</th>
                            <th>值</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Id)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UserName)
                            </td>
                            <td>
                                @HttpUtility.UrlDecode(Model.UserName)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.LoginState)
                            </td>
                            <td>
                                @(Model.LoginState == 1 ? "在线" : "离线")
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.IMSI)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.IMSI)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.IMEI)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.IMEI)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.MSISDN)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.MSISDN)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.OSType)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OSType)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UpdateDate)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.UpdateDate)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.CreateDate)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn blue btn-outline">关闭</button>
</div>
