@{ 
    Layout = null;
}

<!-- BEGIN SIDEBAR MENU -->
<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
<ul id="left-nav" class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <li class="nav-item start ">
        <a href="@Url.Action("Index", new { controller = "Home" })" class="nav-link" id="menu-home">
            <i class="icon-home"></i>
            <span class="title">主 页</span>
        </a>
    </li>
    <li class="heading">
        <h3 class="uppercase">设备信息</h3>
    </li>
    <li class="nav-item left-nav-top">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">设备管理</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="@Url.Action("List", new { controller = "Equipment" })" class="nav-link" id="menu-equipment-list">
                    <span class="title">设备列表</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("List", new { controller = "AlarmReport" })" class="nav-link" id="menu-alarm-list">
                    <span class="title">故障维护</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("List", new { controller = "OperateRecord" })" class="nav-link" id="menu-operate-list">
                    <span class="title">设备日志</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="heading">
        <h3 class="uppercase">用户信息</h3>
    </li>
    <li class="nav-item left-nav-top">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-layers"></i>
            <span class="title">用户管理</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a href="@Url.Action("List", new { controller = "User" })" class="nav-link" id="menu-user-list">
                    <span class="title">用户列表</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="heading">
        <h3>系统信息</h3>
    </li>
    <li class="nav-item left-nav-top">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-docs"></i>
            <span class="title">厂家管理</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item ">
                <a href="@Url.Action("List", new { controller = "VendorInfo" })" class="nav-link" id="menu-vendorinfo-list">
                    <i class="icon-clock"></i>
                    <span class="title">厂家列表</span>
                </a>
            </li>
        </ul>
    </li>
    @if (User.IsInRole2("0"))
    {
    <li class="nav-item left-nav-top">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-user"></i>
            <span class="title">账户管理</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="@Url.Action("List", new { controller = "Account" })" class="nav-link" id="menu-account-list">
                    <i class="icon-user"></i>
                    <span class="title">账户列表</span>
                </a>
            </li>
        </ul>
    </li>
    }
</ul>
<!-- END SIDEBAR MENU -->
